:root{
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    --primary-color: #A8B4A5;
    --blue: #0B1D51;
    --teal: #363020;
    --red:#C1292E;
    --orange-cream:#FFA69E;
    --light-cream:#C7BBA4;
    --white: #D5DAD9;
    background-color: #A8B4A5;
}
h1, h2, h3, h4, h5, h6{color: black;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
    }
p{
        font-family: 'Playfair Display', serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
        padding: 20px;

    }
.hero{background-color: var(--primary-color);
    text-align: left;}
.hero h1{
        font-size: 48px;
    }
.hero p{ 
    font-size: 36px;
    margin: 0;}

.hero h2{
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        font-size: 24px;
        line-height: 2;
    }
h4{
    font-size: 64px;
}
.btn-main{
        color: var(--orange-cream);
        background: var(--teal);
        padding:20px;
        border-radius: 4px;
        text-decoration: none;
        font-family: 'Playfair Display', serif;
        font-weight: bold; 
        border: 2px solid var(--orange-cream);
        padding:15px 30px;
        box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.77);
    }
.btn-main:hover{
        transition: 300ms;
        background: var(--orange-cream);
        color: var(--teal);
        border: 2px solid var(--teal);
    }
.container-fluid{
    background-color: var(--primary-color);
    border: #C0C1BB;}
img{
    max-width: 400px;
border-radius: 4px;}
.profilePicture{
    padding-top: 20px;
    border-radius: 50%;
    -webkit-filter: drop-shadow(2px 2px 0 var(--blue))
    drop-shadow(-1px -1px 0 var(--orange-cream));
    filter: drop-shadow(2px 2px 0 var(--teal))
    drop-shadow(-1px -1px 0 var(--red));  
}
.btn-projects{font-family: 'Playfair display';
    line-height: 27px;
    padding:15px 30px;
    font-size:18px;
    border-radius: 4px;
    color: var(--white);
    text-decoration: none;
    padding-bottom: 20px;
    background-color: var(--red);}
.content h1{
    line-height: 80px;
    font-size: 64px;
}
.content h2{
    font-size:18px;
    font-family: "poppins", sans-serif;
 }

 .content{
    padding:120px 20px;
    margin: 30px;
}

@media(max-width:900px){
    h1{
        font-size: 44px;
        line-height: 56px;}
    h2{font-size: 44px;}
    .hero
    {padding: 80px 20px;}
    .about-section
    {text-align: center;
        padding: 0;}
} 
.projects{
    -webkit-box-shadow: inset -1px -2px 21px 6px var(--blue); 
    box-shadow: inset -1px -2px 21px 6px var(--blue);
    border-radius: 10px;
}