:root{
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    --primary-color: #C0C1BB;
    --blue: #002A66;
    --teal: #006862;
    --red:#560609;
    --orange-cream:#BE9368;
    --light-cream:#C7BBA4;
}
    h1, h2, h3, h4, h5, h6{color: black;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
    }
    p{
        font-family: 'Playfair Display', serif;
        font-weight: normal;
        background-color: var(--primary-color);
    }
    .hero{background-color: var(--primary-color);
    text-align: left;}
    .hero h1{
        font-size: 48px;
    }
    .hero p{ 
    font-size: 36px;
    margin: 0;}

    .hero h2{
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        font-size: 24px;
        line-height: 2;
    }

    .btn-main{
        color: var(--primary-color);
        background: var(--blue);
        padding:20px;
        border-radius: 4px;
        text-decoration: none;
        font-family: 'Playfair Display', serif;
        font-weight: bold; 
        border: 4px solid var(--orange-cream);
    }
    .btn-main:hover{
        transition: 200ms;
        background: var(--orange-cream);
        color: var(--blue);
        border: 4px solid var(--blue);

    }
 html, .container{
            background: var(--primary-color);
        }
        img{
            max-width: 400px;
            border-radius: 50%;
        }